.card-style {
    display: block;
    background-color: #fff;
    height: 120px;
    width: auto;
    margin: 20px 0px;
    box-shadow: 1px 1px 8px #999;
    cursor: pointer;
}

.card-img {
    height: 120px;
    width: 180px;
    
}

.media-heading {
    margin-top: 10px;
    color: #444;
}

.media-heading:hover,
a:link {
    color: black;
    text-decoration: none;
}

.members {
    margin-top: 20px;
    color: #999;
    float: left;
}

.btn-part {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 21px;
}

.card-info {
    color: #000099;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 9px;
}

.card-details {
    color: black;
    font-size: 1em;
    margin-left: 9px;

}