.card-style {
    display: block;
    background-color: #fff;
    height: 120px;
    width: auto;
    margin: 20px 0px;
    box-shadow: 1px 1px 8px #999;
    cursor: pointer;
}
.card-img {
    height: 120px;
    width: 100%;
    padding: 3px;
}
.media-heading {
    margin-top: 10px;
    color: #444;
}
.media-heading:hover, a:link {
    color: #00C853;
    text-decoration: none;
}
.members {
    margin-top: 20px;
    color: #999;
    float: left;
 }
 .btn-part {
     display: inline-block;
     margin: 10px;
 }


 
