

main {
	padding-top: 20px;
	width: 1000px;
	margin: 0 auto;
}



.cases-links {
	display: block;
	width: 1008px;
	margin: 0 auto;
	overflow: hidden;
}

.cases-links div {
	width: 250px;
	height: 240px;
	background-color: #e3e3e3;
	float: left;
	border: 1px solid black;
}

.cases-links .image-link-1 {
	background: url('../images/logos/undp_logo.png') no-repeat;
	background-size: cover;
	background-position: center;
}

.cases-links .image-link-2 {
	background: url('../images/logos/unhcr_logo.png') no-repeat;
	background-size: cover;
	background-position: center;
	border-left: 0px;
	border-right: 0px;
}

.cases-links .image-link-3 {
	background: url('../images/logos/unops_logo.png') no-repeat;
	background-size: cover;
	background-position: center;
	border-right: 0px;
}

.cases-links .image-link-4 {
	background: url('../images/logos/unfpa_logo.png') no-repeat;
	background-size: cover;
	background-position: center;
}

.cases-links .image-link-5 {
	background: url('../images/logos/zpc_logo.png') no-repeat;
	background-size: cover;
	background-position: center;
	border-top: 0px;
}

.cases-links .image-link-6 {
	background: url('../images/logos/zegu_logo.png') no-repeat;
	background-size: cover;
	background-position: center;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	
}

.cases-links .image-link-7 {
	background: url('../images/logos/puma_logo.png') no-repeat;
	background-size: cover;
	background-position: center;
	border-right: 0px;
	border-top: 0px;
}

.cases-links .image-link-8 {
	background: url('../images/logos/st_fancis_logo.png') no-repeat;
	background-size: cover;
	background-position: center;
	border-top: 0px;
}

.cases-links .image-link-9 {
	background: url('../images/logos/sesane_logo.png') no-repeat;
	background-size: cover;
	background-position: center;
	border-right: 0px;
	border-top: 0px;
}

.cases-links .image-link-10 {
	background: url('../images/logos/cci_logo.png') no-repeat;
	background-size: cover;
	background-position: center;
	border-top: 0px;
}

section h2 {
	line-height: 20px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 20px;
}